<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProofHub E2E Suite">

  <listeners>
    <listener class-name="com.proofhub.automation.listeners.ExtentTestListener"/>
    <listener class-name="com.proofhub.automation.listeners.RetryTransformer"/>
  </listeners>

  <test name="Chromium">
    <parameter name="browser" value="chromium"/>
    <classes>
      <class name="com.proofhub.automation.tests.ProofhubTest"/>
    </classes>
  </test>

</suite>
